@import "tailwindcss";

@font-face {
  font-family: "Nexon Gothic";
  src: url("/fonts/NEXONLv1GothicBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexon Gothic";
  src: url("/fonts/NEXONLv1GothicLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexon Gothic";
  src: url("/fonts/NEXONLv1GothicRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --black50: #242424;
  --gray50: #383838;
  --skyBlue50: #6b7280;
  --white50: #e5e7eb;
  --red50: #fff2f4;
  --red100: #ffa69e;
  --red200: #6d4141;
  --green50: #ecffec;
  --green100: #04d65f;
  --green200: #10b981;
  --green300: #36814a;

  --nexon: "Nexon Gothic";
}

@theme inline {
  --color-black50: var(--black50);
  --color-gray50: var(--gray50);
  --color-skyBlue50: var(--skyBlue50);
  --color-white50: var(--white50);
  --color-red50: var(--red50);
  --color-red100: var(--red100);
  --color-red200: var(--red200);
  --color-green50: var(--green50);
  --color-green100: var(--green100);
  --color-green200: var(--green200);
  --color-green300: var(--green300);

  --font-nexon: var(--nexon);

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 744px;
  --breakpoint-pc: 1200px;
}

.font-nexon {
  font-family: var(--font-nexon);
}

a {
  display: inline-block;
}
button {
  display: inline-block;
  cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 743px) {
  .searchArea {
    background: url("/backgroundImgs/mobileBg.png") no-repeat center / cover;
    width: 100%;
    padding: 100px 0;
  }
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
  .searchArea {
    background: url("/backgroundImgs/mobileBg.png") no-repeat center / cover;
    width: 100%;
    padding: 75px 0;
  }
}

@media screen and (min-width: 1200px) {
  .searchArea {
    background: url("/backgroundImgs/pcBg.png") no-repeat center / cover;
    width: 100%;
    padding: 50px 0;
  }
}

body {
  background: var(--black50);
  color: #fff;
  font-family: var(--nexon), sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
